.bg-img{
    width: 100vw;
    height: 100vh;
    background-image: url("https://media.k-tuin.com/images/blog/2022/noviembre/fondos-navidad-iphone/fondo-navidad-iphone.JPG");
}

.form-control:focus {
    border-color: #468a6c !important; /* Cambia el color del borde al hacer clic */
    box-shadow: 0 0 0 0.2rem #55A681 !important; /* Cambia el color de la sombra al hacer clic */
}

