
<main class="container bg-img d-flex justify-content-center align-items-center flex-column">
    <div class="bg-white p-5 border-4 rounded-4">
        <h1>Familia Urbaez Frias</h1>
        <div class="my-2">
            <label class="fw-bold" for="myName">Mi Nombre</label> 
            <input class="form-control text-center border-success" type="text" name="myName" [(ngModel)]="myNameAngel">
        </div>
        <div class="my-2">
            <label class="fw-bold" for="code">Código de mi angelito</label> 
            <input class="form-control text-center border-success" type="password" name="code" [(ngModel)]="codeSecret">
        </div>
        
        <div class="text-center mt-4">
            <button class="btn btn-success text-center" (click)="getMyAngelSecret()">Buscar angelito</button>
        </div>
    </div>
</main>
